@font-face {
  font-family: "Gothic";
  src: url("../fonts/CenturyGothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
