.news-list__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.news-list__content {
  width: 100%;
  max-width: 82.5rem;

  display: flex;
  flex-direction: column;

  .news-item {
    padding-bottom: 4rem;
    margin-bottom: 4rem;

    border-bottom: 0.1rem solid #cfd4d7;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;

      border-bottom: none;
    }
  }
  .news-item__img {
    height: 33.5rem;
  }
}

.news-list__banners {
  width: 100%;
  max-width: 54rem;

  display: grid;
  gap: 4rem;

  img {
    width: 100%;
    height: auto;
  }
}
