<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-logo">
                <svg class="footer-logo__icon">
                    <use href="#logo"></use>
                </svg>
                <p class="footer-logo__descr">
                    Комплексное обеспечение безопасности объектов
                </p>
            </div>
            <nav class="footer-nav">
                <div class="footer-nav__column">
                    <p class="footer-nav__heading">Каталог</p>
                    <a class="footer-nav__link" href="#">Охранно-пожарные системы</a>
                    <a class="footer-nav__link" href="#">Системы речевого оповещения</a>
                    <a class="footer-nav__link" href="#">Системы видеонаблюдения</a>
                    <a class="footer-nav__link" href="#">Системы контроля и управления доступом</a>
                    <a class="footer-nav__link" href="#">Источники питания</a>
                    <a class="footer-nav__link" href="#">Взрывозащищенное оборудование</a>
                    <a class="footer-nav__link" href="#">Кабельная продукция</a>
                    <a class="footer-nav__link" href="#">Расходные материалы</a>
                </div>
                <div class="footer-nav__column">
                    <p class="footer-nav__heading">Услуги</p>
                    <a class="footer-nav__link" href="#">Поставки</a>
                    <a class="footer-nav__link" href="#">Монтаж и обслуживание</a>
                    <a class="footer-nav__link" href="#">Гарантийный ремонт</a>
                    <a class="footer-nav__link" href="#">Доставка</a>
                    <a class="footer-nav__link" href="#">Лицензии</a>
                    <a class="footer-nav__link" href="#">Наши проекты</a>
                </div>
                <div class="footer-nav__column">
                    <p class="footer-nav__heading">О компании</p>
                    <a class="footer-nav__link" href="#">О нас</a>
                    <a class="footer-nav__link" href="#">Новости</a>
                    <a class="footer-nav__link" href="#">Статьи</a>
                    <a class="footer-nav__link" href="#">Вакансии</a>
                    <a class="footer-nav__link" href="#">Наши партнеры</a>
                    <a class="footer-nav__link" href="#">Контакты</a>
                </div>
            </nav>
            <div class="footer-phones">
                <div class="footer-phones__content">
                    <a class="footer-phones__link" href="tel:123">(812) 333 47 34</a>
                    <a class="footer-phones__link" href="tel:123">(812) 333 47 36</a>
                    <a class="footer-phones__link" href="tel:123">(812) 333 47 39</a>
                </div>
                <p class="footer-address">СПб, ул. Минеральная, дом 13</p>
            </div>
        </div>
        <div class="footer-copy">
            <p class="footer-copy__content">© 2001-2022 ТД «Некст» Все права защищены</p>
            <p class="footer-copy__content">Разработка сайта: <a href="#">Студия ЯР</a></p>
        </div>
    </div>
</footer>