<div class="modal-order ">
    <div class="modal-order__inner">
        <span class="modal-close-btn" data-close>
            <svg>
                <use href="#close"></use>
            </svg>
        </span>
        <form class="form">
            <h2 class="modal-order__heading">Оформить заказ</h2>
            <label class="form-input__wrapper">
                <input class="form-input" type="text" placeholder="Имя" required>
            </label>
            <label class="form-input__wrapper error">
                <input class="form-input" type="email" placeholder="Почта" required>
            </label>
            <label class="form-input__wrapper">
                <input class="form-input" type="tel" placeholder="Телефон" required>
            </label>
            <textarea class="form-textarea" placeholder="Текст вопроса"></textarea>

            <input class="custom-checkbox" type="checkbox" value="" id="form-privacy" required>
            <label for="form-privacy">Согласен с пользовательским соглашением и политикой обработки
                пользовательских
                данных</label>
            <button class="form-btn filled-btn" type="submit">Отправить</button>
        </form>
    </div>
</div>